@font-face {
    font-family: "RetroGaming";
    src: url("src/Retro\ Gaming.ttf") format("truetype"); 
}
@font-face {
    font-family: "SuperPixel";
    src: url("src/SuperPixel-m2L8j.ttf") format("truetype"); 
}
:root{
    --pixcle-clip : polygon(
    0px calc(100% - 10px),
    2px calc(100% - 10px),
    2px calc(100% - 6px),
    4px calc(100% - 6px),
    4px calc(100% - 4px),
    6px calc(100% - 4px),
    6px calc(100% - 2px),
    10px calc(100% - 2px),
    10px 100%,
    calc(100% - 10px) 100%,
    calc(100% - 10px) calc(100% - 2px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 2px) calc(100% - 10px),
    100% calc(100% - 10px),
    100% 10px,
    calc(100% - 2px) 10px,
    calc(100% - 2px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 2px,
    calc(100% - 10px) 2px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 2px,
    6px 2px,
    6px 4px,
    4px 4px,
    4px 6px,
    2px 6px,
    2px 10px,
    0px 10px
  );
}
*{
    margin: 0;
    padding: 0;
    font-family: "RetroGaming" , sans-serif;
    color: #1E93AB;
}
header{
    width: 100vw;
    height: 6vh;
    justify-items: center;
    align-content: center;
    background-color: #F3F2EC;
    
}
.mainscreen{
    width: 100vw;
    height: 94vh;
    background-color: #F3F2EC;
    justify-items: center;
    align-content: center;
}
.gamescreen{
    width: 98vw;
    height: 90vh;
    background-color: #F3F2EC;
    display: grid;
    grid-template-rows: 70% 30%;
    justify-items: center;
}
.gamedisplay{
    width: 50%;
    justify-items: center;
    align-content: center;
    background-color: #DCDCDC;
}
.game{
    width: 40%;
    height: 58%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #1E93AB;
    justify-items: center;
    align-items: center;
    clip-path: var(--pixcle-clip);
}
.box{
    width: 70%;
    height: 80%;
    background-color: #F3F2EC;
    clip-path: var(--pixcle-clip);
    justify-items: center;
    align-content: center;
}
.box :hover{
    cursor: pointer;
}
.box p{
   font-size: 75px;
   user-select: none;
}
.scoreboard{
    width: 50%;
    justify-items: center;
    background-color: #DCDCDC;
}
.scoresection{
    width: 95%;
    height: 95%;
    background-color: #1E93AB;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-items: center;
    align-items: center;
    clip-path: var(--pixcle-clip);
}
.gamecount{
    justify-items: center;
    align-content: center;
    width: 65%;
    height: 20%;
    color: #F3F2EC;
    background-color: #DCDCDC;
    clip-path: var(--pixcle-clip);
}
.player{
    width: 55%;
    height: 90%;
    background-color: #DCDCDC;
    clip-path: var(--pixcle-clip);
    justify-items: center;
    align-content: center;
}


@media (max-width:412px) {
    .gamedisplay{
        width: 90%;
    }
    .game{
        width: 85%;
    }
    .scoreboard{
        font-size: 10px;
        width: 90%;
    }
    .gamecount{
        width: 110%;
    }
    .player{
        width: 85%;
        height: 75%;
    }
}

@media (max-width:390px) {
    .gamedisplay{
        width: 90%;
    }
    .game{
        width: 85%;
    }
    .scoreboard{
        font-size: 10px;
        width: 90%;
    }
    .gamecount{
        width: 110%;
    }
    .player{
        width: 90%;
        height: 75%;
    }
}
